#header {
    background-color : #000033;
}
@font-face {
    font-family: 'DKDirrrty';
    src: url('./DK Dirrrty.ttf') format('truetype');
}

@font-face {
  font-family: 'tw-cent-bold';
  src: url('./tw-cen-mt-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('./HelveticaNeue-Thin.otf') format('opentype');
}

#bold {
  font-weight: bold;
}

#Contact {
  font-size: 20px;
  color: #E71D73;
}
#logo {
  float: left;
  width: 150px;
}
#sommaire{
  font-size: 1rem;
  background-color: #FCFCFC
}

body {
    text-align: justify;
    font-family: HelveticaNeue-Thin ;
}

.text-right {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#titre1 {
  margin-top: 5px;
  font-size: 4vw;
  color:  #E71D73;

}
.titre2 {
  font-size: 2.5vw;
  color:  #E71D73;
}
.titre3 {
    font-size: 20px;
    color: #E71D73;
}

footer{
  background-color: #E1E1E1
}
