#header {
    background-color : #000033;
}
@font-face {
    font-family: 'DKDirrrty';
    src: url('./DK Dirrrty.ttf') format('truetype');
}

@font-face {
  font-family: 'tw-cent-bold';
  src: url('./tw-cen-mt-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('./HelveticaNeue-Thin.otf') format('opentype');
}

#bold {
  font-weight: bold;
}

#Contact {
  font-size: 20px;
  color: #E71D73;
}
#logo {
  float: left;
  width: 150px;
}
#sommaire{
  font-size: 1rem;
  background-color: #FCFCFC
}
#Contact{
  font-family;tw-cent-bold;
}
#border {
  border-radius: 20px;
}
#menu{
  font-family: tw-cent-bold;
}
body {
    text-align: justify;
    font-family: HelveticaNeue-Thin ;
}

.text-right {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#titre1 {
  margin-top: 5px;
  font-size: 4vw;
  color:  #E71D73;
  font-family: tw-cent-bold
}
.titre2 {
  font-size: 2.5vw;
  color:  #E71D73;
  font-family: tw-cent-bold
}
.titre3 {
    font-size: 20px;
    color: #E71D73;
    font-family: tw-cent-bold
}

.rose {
  font-size: 40px;
  color: #E71D73;
  font-weight: bold;
}

.violet{
    font-size: 40px;
    color: #A24392;
    font-weight: bold;
}

.bleu {
  font-size: 40px;
  color: #00AF9E;
  font-weight: bold;
}

.orange {
  font-size: 40px;
  color: #EB8915;
  font-weight: bold;
}

footer{
  margin-top: 15px;
  margin-bottom: -15px;
  background-color: #E1E1E1;
}
